%h1
  Bugcycles

- @bugcycles.each do |bugcycle|
  %p
    Name:
    = bugcycle.name
    %br
    Description:
    = bugcycle.description
    %br
    Category:
    = bugcycle.category.category
    %br
    = image_tag(bugcycle.image.url) if bugcycle.image?
    - if user_signed_in? && current_user.id != bugcycle.user_id && block_suggestion(bugcycle, current_user.id)
      = link_to 'Suggestion', new_bugcycle_suggestion_url(bugcycle) 