%h1
  = @category.category
- @bugcycles.each do |bugcycle|
  %p
    Name:
    = bugcycle.name
    %br
    Description:
    = bugcycle.description
    %br
    Category:
    = bugcycle.category.category
    %br
    = image_tag(bugcycle.image.url) if bugcycle.image?
    - if user_signed_in? && current_user.id != bugcycle.user_id
      = link_to 'Edit', new_bugcycle_suggestion_url(bugcycle)