.create-update-bicycle-form
  - if @bugcycle.errors.any?
    - @bugcycle.errors.full_messages.each do |error|
      Errors: 
      = error 
  = form_for @bugcycle, html: { multipart: true } do |f|
    .form-group
      = f.label :name
      %br
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :description
      %br
      = f.text_area :description, class: 'form-control'
    .form-group
      = f.label :category_id
      %br
      = f.collection_select :category_id, @category, :id, :category, {}, { class: 'form-control' }
    .form-group
      .input-group
        %span.input-group-btn
          = f.label :image, class: 'btn btn-default btn-file js-load-image'
        %span#image-url.form-control
      = f.file_field :image
    = f.submit 'Save', {class: 'btn btn-default save'}
    :javascript
      $(document).ready(function(){
        $('#bugcycle_image').change(function(e){
          var value = e.target.files[0].name;
          $('#image-url').text(value);
        });
      })