%h1
  Bugcycle:
  = @bugcycle.name
%div
  = @bugcycle.description
%div
  = image_tag(@bugcycle.image.url)

%h1
  Suggestions
- if @bugcycle.errors.any?
  - @bugcycle.errors.full_messages.each do |error|
    Errors: 
    = error
- @bugcycle.suggestions.each do |suggestion|
  %p
    Name:
    = suggestion.name
    %br
    Description
    = suggestion.description
    %br
    = image_tag(suggestion.image.url) if suggestion.image?
    %br
    = link_to 'Approve', approve_suggestion_url(@bugcycle, suggestion), method: :put